<footer class="container-fluid bg-dark fs-6 text-white fw-light text-center">
    <div>
        <div>
            <p>ConcertBay - Derechos Reservados</p>
            <p>Creemos que con musica y amigos, todo es mejor</p>
        </div>
        <p>Siguenos en nuestras redes sociales</p>            
        <div class="d-flex justify-content-evenly">
            <i class="d-block bi bi-facebook"></i>
            <i class="d-block bi bi-twitch"></i>
            <i class="d-block bi bi-twitter"></i>
        </div>
        <div>
        </div>
        <div>
        </div>
    </div>
</footer>