{% extends "base.html" %}
{% load static %}
{% block title%} Login {% endblock %}

{% block content %}

<!--#====================================================================
    Plantilla para la interfaz de logind del usuario
#====================================================================-->

<div class="container">
    <div class="row justify-content-center py-5 my-5">
        <!-- Muestra mensajes al usuario -->

        {% include 'componentes/notificacion.html' %}

        <!-- Invoca formulario con el csrf_token y el login_form -->
        <div class="col-12 col-md-6 bg-secondary-subtle rounded py-4">             
            <h1 class="py-4 text-center">Bienvenido a ConcertBay</h1>
            <form class="d-flex flex-column py-4" method="POST">
                {% csrf_token %}
                {{ login_form }}
                <!-- Añadir botón de submit -->
                <button type="submit" class="btn btn-dark my-4">Iniciar sesión</button>
            </form>
            <p class="pt-2">No tienes cuenta, <a class="btn btn-secondary btn-sm" href="/registro">Regístrate</a></p>
        </div>
        <!-- Añadir enlace para poder Iniciar registrarse -->
    </div>
</div>


{% endblock %}

{% block contentScript %}
    <script src="{% static 'js/notificacion.js' %}"></script>
{% endblock %}
