{% extends "base.html" %} 
{% load static %}
{% block title %} Registro {% endblock %} 
{% block content %}

<!--#====================================================================
    Plantilla para la interfaz de registro del usario
#====================================================================-->

<div class="register-form-container">
  <div class="row justify-content-center py-5 my-5">
    <!-- Muestra mensajes al usuario -->
    {% include 'componentes/notificacion.html' %}
    <div class="col-12 col-md-6 bg-secondary-subtle rounded py-4">
      <h1 class="py-4 text-center">Registro</h1>
      <!-- Invoca formulario con el csrf_token y el registro_form -->
      <form class="d-flex flex-column py-4" method="POST">
        {% csrf_token %}
        <!-- Protección para ataques CSRF -->
        {{ registro_form }}
        <!-- Importación de formulario -->
        <!-- Añadir botón de submit -->
        <button type="submit"class="btn btn-dark my-4">Registrarme</button>
      </form>
      <!-- Añadir enlace para poder Iniciar sesión -->
      <p> Si ya tienes cuenta,
        <a class="btn btn-secondary btn-sm" href="/login">Inicia sesión</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block contentScript %}
    <script src="{% static 'js/notificacion.js' %}"></script>
{% endblock %}