<!-- form -->
<form id="formReservacion" class="flex-column mx-2" method="POST">
    <div class="my-4 border-bottom">
        <label for="artistaConcierto" class="form-label text-dark-emphasis">Artista</label>
        <input id="artistaConcierto"  class="form-control bg-light border-0" 
               type="text"  
               aria-describedby="Nombre Artista" 
               disabled="disabled" 
               value="{{artista}}">
    </div>
    <div class="my-4 border-bottom">
        <label for="fechaConcierto" class="form-label text-dark-emphasis">Fecha</label>
        <input id="fechaConcierto"  class="form-control bg-light border-0 px-0" 
               type="text"  
               aria-describedby="Fecha Concierto" 
               disabled="disabled" 
               value="{{fecha_evento|date:'l, d \d\e F \d\e Y - H:i' }}">
    </div>
    <div class="my-4 border-bottom">
        <label for="precioConcierto" class="form-label text-dark-emphasis">Precio de entrada</label>
        <input id="precioConcierto"  class="form-control bg-light border-0" 
               type="text"  
               aria-describedby="Precio de entrada" 
               disabled="disabled" 
               value="$ {{precio|floatformat:2}}">
    </div>
    <div class="text-center">
        <button class="btn btn-dark w-100" type="submit">
            Comprar Entrada <i class="icon-ticket"></i>
        </button>
    </div>
</form>
<!-- form -->
